# auto-install-peers = true
strict-peer-dependencies=false
enable-pre-post-scripts=true
public-hoist-pattern[]=*tailwind-variants*
public-hoist-pattern[]=*framer-motion*
public-hoist-pattern[]=*@alice-ui/theme*
